[2021-12-07 17:09] moralejo opened #1 "Grid of directions for the MC training set"
Regardless of the grid of directions we design for the MC test set, i.e. for the calculation of IRFs, the effect of the analysis (cut efficiencies, energy and angular resolutions) has to vary smoothly across grid points for the IRF interpolation to make sense.

In the standard Random Forest approach, the simplest way of achieving  this seems to be to include the telescope pointing (zenith, az) amo

[2021-12-07 17:52] moralejo opened #2 "Grid of directions for the MC test set"
We want to have a Monte Carlo test set with a grid of telescope pointings, with corresponding IRFs,  from which we can later interpolate to obtain the IRFs for a given run (or good-time-interval).

### Mono-analysis case

For the single-telescope case (LST1 standalone) the relevant direction-dependent quantities which affect the performance are the airmass (which grows like 1 / cos(zenith) in the

[2021-12-09 10:01] moralejo opened #3 "Variation of impact range, energy range and viewcone with zenith."
Based on general scaling arguments (evolution of the air mass as ~1/cos(zenith) in the planar atmosphere approximation), one can obtain an approximate variation of the MC production parameters.

- E-range limits would scale as 1 / cos^2 zenith (i.e. like the inverse of the light density at fixed energy)
- Max Impact would scale as 1 / cos zenith  (i.e. like the light pool radius)
- Viewcone:
  - f

[2021-12-09 12:15] moralejo opened #4 "Update of the LST1 MC telescope model"
Task list of the needed updates for the LST1 model in sim_telarray
- [x] #5
- [x] #6

[2021-12-09 12:21] moralejo opened #5 "LST1 optical PSF simulation update"

[2021-12-09 12:41] moralejo opened #6 "LST1 telescope_transmission update"
In our standard Crab test sample (Nov-December 2020) muon ring analysis provides the best-match with simulations using 80% of the nominal telescope_transmission (i.e. just shadowing). But these data have ~5% of the mirror dish defocused.

~~We therefore propose to use as default 85% of the nominal telescope_transmission (0.9690).~~

So this means:

~~**telescope_transmission 0.8236**~~  (update on

[2021-12-09 14:18] mexanick commented on #6
Out of curiosity, what was the reason of having 5% of mirrors defocused? And what's the current state of mirrors? Can we safely count that in normal operation conditions all (or almost all, say 99%) mirrors will be focused?

[2021-12-09 14:44] jsitarek opened #7 "MAGIC PSF and reflectivity retuning"
The previous MAGIC settings in MAGIC+LST1 MCs were using MAGIC analysis period ST.03.07, while the current one is ST.03.16, the differences are in the PSF and reflectivity (mostly M1).

1)  "Mirror fraction" in MAGIC simulations is 0.61 in M1 and 0.69 in M2, however the earlier tuning to sim_telarray showed that you need ~8% lower reflectivity values in sim_telarray to match the MAGIC standard MCs

[2021-12-09 14:46] jsitarek opened #8 "Removal of low gain in MAGIC part of simulations"
The original MAGIC+LST1 simulations were heavily based on copying things from LST1, and for simplicity two gains were kept, which is not needed - MAGIC readout is using only a single gain for each channel

[2021-12-09 14:46] moralejo commented on #6
I don't know the details, may be @satoshifukami0115 can comment. For some reason the mirrors could not be as accurately focused as the rest, and then it was deemed better to defocus them maximally (~1 deg away from the main spot, in six different directions).

[2021-12-09 15:35] moralejo commented on #8
@jsitarek or @YusukeSuda , can you write out explicitly what would be the sim_telarray settings with just one gain?

[2021-12-09 15:43] mexanick commented on #4
I've pushed the default prod5 configuration to sim_telarray branch and created a corresponding tag with it
Now all the modifications can be done on that branch (or, if multiple, a separate branch e.g. sim_telarray_prod5.1 or so can be created)

[2021-12-09 16:40] satoshifukami0115 commented on #6
@mexanick The reason of 5% is that 10 mirrors out of 200 segmented mirrors were defocused from Nov. 2020 to Feb. 2021. The 200 mirrors were controlled by 16 PCs, and one of the PCs was not accessible unexpectedly during the period, which controls 9 mirrors (besides there is additional 1).

Please refer to page 9 of the daily AMC plots [here](https://www.lst1.iac.es/operations/amc/).
In the standar

[2021-12-09 18:43] moralejo commented on #4
Thanks @mexanick. A couple of comments:

- I think we should limit this to MAGIC1, MAGIC2 and LST1, so we can remove the LST2, 3 & 4 files, right?
- How shall we proceed with the file names? We have now files with "PROD4" in their names, others with PROD5". But this will be none of them. Most likely the settings we decide here will end up in CTA's full-arrays PROD6. So this becomes a bit confusing

[2021-12-09 19:46] moralejo opened #9 "Telescope coordinates"
For a LST1 + M1 + M2 production I think we should not center the array at the average coordinates, because LST1 with its larger mirror will have larger reach in impact. I propose to define the center at the dish-area-weighted average (assuming just circular dishes of 17m and 23m diameter) of the three telescopes - actually this only brings it a bit closer to LST1:

![image](https://user-images.git

[2021-12-10 03:26] YusukeSuda commented on #8
Hi @moralejo , I think we can realize it by changing "num_gain" and removing the relevant low gain parameters out in "CTA-PROD4-MAGIC1(2)_test.cfg" file.

***
fadc_pedestal = 300           % Per time slice (positive signals only: unsigned!)
fadc_amplitude = 40.0        % The peak amplitude in a time slice for high gain.
fadc_noise = 12.0                 % Again per time slice (high gain).

num_gai

[2021-12-10 11:46] jsitarek commented on #4
Hi @moralejo, about the naming, calling it PROD6 before the actual PROD6 can be very misleading, in particular if any LST settings get changed in the meantime, so I would stick to PROD5 in the naming, maybe with some extra letter? Even if the same settings end up in PROD6 and thus we have two different names for it, I think it is not a huge problem.
Perfectly fine to get rid of LST2-4, if we need

[2021-12-10 12:04] moralejo commented on #4
I agree @jsitarek, just mentioned PROD6 because it adds to the confusion... I have no good suggestion as of now. Probabñy PROD5 with some additional tag would work. Anyway the versioning from Git will guarantee reproducibility.

[2021-12-10 12:14] mexanick commented on #4
I'd add a minor version number, like PROD5.1 And perhaps we will have few of them (e.g. with different PSF or trigger or telescope transmission values) and can subsequently name them 5.2, 5.3 etc. And when the CTA bumps the major version to 6, we can do as well

[2021-12-10 12:31] maxnoe commented on #4
Should we just start with our own, independent numbering? Let's call this something like LSTPROD1.

[2021-12-10 12:39] mexanick commented on #4
I don't have a strong opinion, but I have two concerns: first, it may confuse people who used previous CTA productions, second, our LST prototype settings will most probably go into the CTA PROD6 and it is a bit weird to have e.g. LSTPROD1 and CTA PROD6 having the same configuration for LST-1...

[2021-12-10 12:56] maxnoe commented on #4
I would find it more confusing to have the same prod number for different settings.

Same thing already happened, PROD4 LST identical to PROD5

[2021-12-10 13:04] mexanick commented on #4
Well, that's why I propose to have minor version numbers. If the configurations differ but a small subset of parameters, then it is a minor bump, if difference is large - a major. Though, it is not very straightforward to differentiate what's small and what's large difference ...

yup... not too good...

But whatever, let's wait for opinions of others :)

[2021-12-10 15:28] moralejo commented on #4
In order to clarify a bit the situation, @mexanick can you please delete from the sim_tel branch the files that are not needed? (LST2-4 and whatever else, if anything)

[2021-12-10 15:34] mexanick commented on #4
I should leave the placeholders/array layout for LST1 and two MAGICs, right?
I can do this, just need the confirmation.

[2021-12-10 15:37] mexanick commented on #8
Actually, the MAGIC configuration files are currently taken from what is served with the sim_telarray distribution and are not included in the list of files which is currently available under sim_telarray branch. So after we know exactly, what should be MAGIC configurations, I believe we need to ask someone knowledgeable (@jsitarek or @YusukeSuda or someone else?) to create MAGIC config files and

[2021-12-11 07:45] rlopezcoto commented on #4
Let's use PROD5b

[2021-12-11 09:15] moralejo commented on #4
Prod5b has been used in CTA productions.
We could use LSTPROD2 (or 1, leaving 0 for the earlier limited production)

[2021-12-11 09:23] moralejo commented on #8
@YusukeSuda please cross-check also with @jsitarek that the actual baseline, amplitude and noise in the single MAGIC gain branch are the right ones.

[2021-12-13 18:00] moralejo commented on #3
### Tests using the existing proton productions
(impact is w.r.t. LST1, properly calculated taking into account the pointing & the LST1 z-coordinate).

### ZD =  20 degree, south-wise:
![image](https://user-images.githubusercontent.com/14164282/145992260-1e16d6aa-659b-473a-9cd1-3351caded9d6.png)
![image](https://user-images.githubusercontent.com/14164282/145992270-989dda5a-e98c-411b-9dd4-4e22a918b

[2021-12-13 18:31] moralejo commented on #3
### Same thing as above with the 20 and 60 deg existing productions of diffuse gammas.
But here I impose a maximum off-axis angle of 2.5 degrees (blue histograms), since we are mostly interested in sources well within our field of view. And then a cut on 0.5 degrees (orange histograms) to evaluate the point-like wobble case.

### ZD = 20 degree, south-wise:
![image](https://user-images.githubuserc

[2021-12-14 10:04] moralejo commented on #9
### Related changes in sim_telarray configuration:

- **ALTITUDE** should also be changed to **2199** (although this is just for atmospheric profile purposes so the difference will be negligible).
- **REFERENCE_POSITION 0  0  1.36E2**      (just weighted average of z-positions). It is used for calculation of impact parameter "w.r.t. the array"
- Raised by @YoshikiOhtani : do we need to change PHOT

[2021-12-14 10:51] jurysek commented on #5
Below you can find simtel parameters reproducing PSF of LST-1 from 20th November 2020. If we won't manage to get any average value soon, I would suggest using these (or slightly lower as we can smear PSF in later stages of the analysis).

mirror_align_random_horizontal=0.0052,28.,0.0,0.0
mirror_align_random_vertical=0.0056,28.,0.0,0.0
[psf_tuning.pdf](https://github.com/cta-observatory/lst-sim-con

[2021-12-14 11:05] jsitarek commented on #9
About the altitude - this might also affect the Hmax calculation slightly (I'm not sure if the value used is above the see level or about ground, but either way needs to be propagated consistently between the data and MCs.

[2021-12-14 11:19] moralejo commented on #9
In any case, having a consistent value between Corsika and sim_telarray seems the way to go, right?

@jsitarek, can you shed some light on the PHOTON_DELAY parameter? I think it affects the position of the pulses in the readout window, but it should _not_ change with the change of OBSLEV. @YoshikiOhtani  is afraid that it might be needed, though.

[2021-12-14 11:43] satoshifukami0115 commented on #5
Hi, here I show the recent study on the best possible PSF by overlapped mirror-wise images.
I think p8 is the best one possible (D80: 31mm).

[LSTOptics_PSF_from_mirror_wise_images.pdf](https://github.com/cta-observatory/lst-sim-config/files/7711193/LSTOptics_PSF_from_mirror_wise_images.pdf)

This is preliminary and we still need to understand the discrepancy with the previous simulations (D80: 20

[2021-12-14 12:01] moralejo commented on #3
Based on the plots above, and considering that LST1 is ~70 m from the array center and has larger reach in impact, FOV and energy than MAGIC, I propose the settings below. For NSCAT (shower re-use) I would keep 10 in all cases, like in the previous production.

**- Diffuse protons:**
   - Viewcone: 8 degree at ZD=0, scaling as cos<sup>0.5</sup> ZD. This becomes 5.65 deg at ZD=60. This is purely em

[2021-12-14 12:33] YoshikiOhtani commented on #9
Hi, regarding the Hmax, if one uses the ctapipe module (HillasReconstructor in case of ctapipe v0.8.0) the Hmax can be calculated from any altitudes - I mean one needs to input the telescope positions (x, y, z) defined in a given coordinate (sea level or observation level, whatever) and the Hmax parameter is calculated based on the coordinate. I actually use the coordinate with respect to the obse

[2021-12-14 13:02] Voutsi commented on #3
Just for clarification, these plots show simulated protons, triggered protons or protons that will pass analysis cuts?

[2021-12-14 13:16] jsitarek commented on #9
concerning the PHOTON_DELAY, I would be very surprised if this needs to be updated. this part of sim_telarray looks a bit obscure to me, but the time delays seems to be computed w.r.t. median time of the phe that arrive in the telescope (with some extra shifts e.g. for a fraction of a FADC window).

[2021-12-14 14:04] moralejo commented on #3
This is after cleaning, note the intensity cuts.

[2021-12-14 17:42] moralejo commented on #5
Thanks, @jurysek and @satoshifukami0115.
I agree that we should try to adjust the light containment curve, can you give it a try, @jurysek ?

[2021-12-14 19:33] jurysek commented on #5
Thanks @satoshifukami0115 ! Find below some plots for simulation of a star in sim_telarray at 20 deg zenith angle. Here I didn't consider asymmetry of the PSF and set both relevant parameters equal (`mirror_align_random_horizontal` and `mirror_align_random_vertical`). You can see that to get D80=30.9mm, we should set these parameters to **0.0046**.

I can also compare the cumulative distributions

[2021-12-14 20:32] satoshifukami0115 commented on #5
@jurysek thank you! The following is the text file including the radius vs the cumulative fraction.
Please let me know if the format is OK for you.
[LightCumulativeCurve.txt](https://github.com/cta-observatory/lst-sim-config/files/7714541/LightCumulativeCurve.txt)

But it looks already similar between the curve 0.0046 (pink) and p8 of the slide I sent above.

[2021-12-14 21:12] jurysek commented on #5
Thank you @satoshifukami0115 ! Here is the comparison. The '0.0046 cumulative distribution' is close to yours indeed.

But if we want to consider also PSF asymmetry, I would need the data which you used to plot the 2D PSF (left Figure in slide 8). However, provided that we have quite a good agreement even now, I am not really sure whether it is worth it at this point. Maybe introducing more comple

[2021-12-15 00:39] moralejo commented on #5
Thanks @jurysek, and I agree: I would not introduce now the asymmetry.
Could you overlay the same curve for the previous simulation settings, for comparison?

[2021-12-15 07:25] YusukeSuda commented on #9
OBSLEV - I am not aware of any reason to keep the same value of the full CTA-N production for the LST-MAGIC dedicated productions

ALTITUDE - I also think this should be the same as OBSLEV. @jsitarek , this value is above sea level.

PHOTON_DELAY - We don't need to change this value. Just in case I have looked at the codes and just confirmed what @jsitarek wrote :)

[2021-12-15 07:58] rlopezcoto commented on #3
what is the maximum simulated impact for zd 20 and 60 deg? do you have an explanation for the impact scaling with cos<sup>-0.5</sup> ZD instead of cos<sup>-1</sup> ZD?
In any case the proposal for the simulation settings sounds good.

[2021-12-15 09:52] jurysek commented on #5
@moralejo Both parameters in the previous simtel production were set to 0.0039 and I simulated a star from 0.003 with 0.0002 increments, so I added 0.0038 and 0.0040 in the plot for comparison. The differences are quite small and interestingly the original configuration represents core of the PSF better. In the tail, however, the new one gives better match.

D80 (0.0038) = 28.733 mm
D80 (0.0040) =

[2021-12-15 11:43] jsitarek commented on #3
@moralejo , did you make also dedicated  plots for point-like gammas, or just using the diffuse ones <0.5 deg offset?

What is rather striking to me is that for gammas at 2.5 deg we still have very good acceptance from the plots of Abelardo. I think we might consider to increase it a bit more to ~3 deg. The main reason would be not really to study sources at 2.5+ deg offset, but to have more compl

[2021-12-15 23:25] moralejo commented on #5
Thanks, interesting!  The differences of the light within a pixel (D=50 mm) are really small. Given the pixel size, I would inded go for 0.0046, which matches better from D=25mm.

One thing that intrigues me is that the tuning you @jurysek did to the Nov'20 data was (0.0052, 0.0056), which resulted in D80=32.7 mm. I think the tuning at the DL1b level (to match the muon rings) was stronger, as much

[2021-12-15 23:32] moralejo commented on #3
If you mean for the existing simulations, it was 1000  for gammas 1500 m for protons at 20 deg (don't know for 60).

No, I don't. The naïve scaling works well for gammas, which are actually easier to understand than protons. These are anyway rough estimates, just to avoid wasting too much CPU. And note also that this is just for the training, and we will not have anyway a "complete" sample (e.g. a

[2021-12-15 23:44] moralejo commented on #3
Just the <0.5 deg  - we want to produce "ring wobble" anyway.

The main reason would be not really to study sources at 2.5+ deg offset, but to have more complete sample, and hence less bias e.g. in head/tail discrimination of the images. Gammas, even diffuse, are still cheaper to produce than protons.

So, only for the training sample, right?

Very good points indeed, and I think this is probably

[2021-12-16 08:44] jsitarek commented on #3
Hi,

What is rather striking to me is that for gammas at 2.5 deg we still have

at this stage I think yes. one could still need it in test samples in
likelihood methods, but this is pretty special application so we can save
some simulation time keeping 2.5 deg for test sample

Cheers,
Julian

--
Niniejsza wiadomość pocztowa oraz wszelkie załączone do niej pliki są
poufne i podlegają
prawnej ochron

[2021-12-16 11:17] jurysek commented on #5
It definitely could be. It was also proposed by Konrad, when we discussed why I am getting much better MC-data match at DL2 level using much larger PSF than the one we got from star measurement. It finally turned out as a false clue, but it may still be valid at least to some extent.

But still, if we the goal is to set the PSF in simtel 'slightly better' than we see in the data, then 0.0046 shoul

[2021-12-16 11:20] moralejo commented on #5
From my side, I bless 0.0046

[2021-12-16 12:59] Voutsi opened #10 "Validation of Corsika config files"
I created the corsika branch and added an input card I used to make a testing of the production for protons.
There are a number of points I would like to clarify for corsika generation:
-  Which corsika version to use (I currently run with 7.7)
-  Which atmospheric data file to use? Do we keep atmprof_ecmwf_north_winter_fixed.dat
-  List of files
    - Nucleon - nucleus x-section NUCNUCCS
    - EM

[2021-12-16 14:36] satoshifukami0115 commented on #5
From the AMC team, there are no objections so far to provide the D80 (31 mm) & the light containment curve.

We have to investigate the discrepancy with the ray-trace simulations in the past, but it would be more realistic to use this value instead of the simulation values.

We will let you know in case we have any additional suggestions.

[2021-12-16 17:48] jsitarek commented on #10
@Voutsi, about the magnetic field, note that it also depends on the height a.s.l., what height have you used?

[2021-12-16 20:45] Voutsi commented on #10
@jsitarek , 2199m.
 I used this calculator:
https://www.ngdc.noaa.gov/geomag/calculators/magcalc.shtml#igrfwmm

[2021-12-16 21:01] moralejo commented on #5
Hi @satoshifukami0115, can you clarify? Do you agree with using the 0.0046 setting above, or will you provide a different curve in the coming days?

[2021-12-16 21:57] satoshifukami0115 commented on #5
@moralejo We agreed that we use the current curve/D80 as the best-possible real PSF. Sorry for the confusing expression.

I have a little concern that the cherenkov lights typically have off-axis angles and the PSF becomes larger, but I think it is still OK to go for 0.0046 to match the tail side of the curve, as even 1 deg off-axis light might have D80 ~50 mm (~1 pixel size) with this setting.

S

[2021-12-16 22:52] moralejo commented on #5
The main reason for this is coma aberration, which is naturally simulated, so I don't think that is a problem at all. If anything, I think it would make the small on-axis differences less relevant.

ok, thanks!

[2021-12-17 00:47] satoshifukami0115 commented on #5
OK, thank you. Maybe I was just confused. If we match on-axis PSF between real and simulation, off-axis PSF should also be matched naturally. Even if there is a discrepancy (on either side of D > 25 mm or D < 25 mm of the curve), the aberration makes it less relevant for off-axis cases.

Again let me agree on this value (0.0046).

[2021-12-17 08:27] jsitarek commented on #10
I'm not sure how it was done in the previous CTA production, but at least in MAGIC the (really old) values that we are using is not at the ground level, but at the height where the typical shower maximum happens, I do not remember which exactly value was used, but something of the order of 10 km. a.s.l.. The difference will not be large, but if we are already updating things, I would suggest to us

[2021-12-17 13:56] moralejo commented on #10
Hi @Voutsi for most of the things you mention we should not make any change, right?

As for the B-field date let's go for some round value.

ARRANG sets the angle between geographic coordinates (the telescopes' ones)  and "magnetic" (Corsika's) coordinates, so the angle must be the magnetic declination for whatever B-field date we choose. Mind the sign (check the earlier production settings)

data

[2021-12-17 14:02] maxnoe commented on #10
Why do we use different branches for the different programs? Wouldn't it be much easier to just have them in different directories? Then the current complete configuration could be seen on the main branch. With the branches, I'd had to checkout two or three branches in parallel.

[2021-12-17 14:08] Voutsi commented on #10
The idea is to have independent versioning for the corsika and simtel, since we might run simtel several times on the same corsika files.

[2021-12-17 14:10] mexanick commented on #10
moreover, when we decide on each configuration, it must be tagged (so only tags are used in production, not the branches, which are mutable)

[2021-12-17 14:24] maxnoe commented on #10
Yes, sure. But then you'd use tags to different branches that don't have a shared history (other maybe than the first commit?).

Moreover, if you do related changes, they cannot be done in the same commit.

What you propose here is a pretty strong deviation from how git is normally used (explicitly creating unrelated branches). And I don't really see why the two reasons you gave warrant that.

[2021-12-17 15:24] mexanick commented on #10
Well, the main reason is: corsika simulates showers, sim_telarray simulates their interaction with telescope. Thus, I don't see why they should be shared. Yes, certain parameters are somewhat mutually dependent, but sim_telarray has many more parameters. The reason why two branches would be in the same repo is simply to have one repo (I initially proposed to have actually two repositories, but was

[2021-12-17 15:25] mexanick commented on #10
and speaking of git usage: well, here it is used as a versioned DB... not the original use case, but why not, if it can work pretty well? ;)

[2021-12-22 10:36] moralejo commented on #3
Coming back to that, it is not so striking because 2.5 deg is the actual optical FoV radius (a bit less if aberrations are considered), so a large fraction of showers (those "on the right side") coming from that off axis angle will be well within the FoV, even fully contained in many cases. I think however that those will be quite irrelevant for the bulk of the analyses we have to carry out (sourc

[2021-12-22 11:16] moralejo commented on #3
Does not seem a big effect. Just one example, the 60 deg protons, intensity>300 pe, I separated between showers with altitude larger and smaller than that of the telescope pointing (orange and green respectively):

![Screen Shot 2021-12-22 at 12 13 32](https://user-images.githubusercontent.com/14164282/147084336-de0311d2-3a99-44af-b098-93105eefa8ce.png)

Again, since protons are just for training,

[2021-12-22 11:20] jsitarek commented on #3
@moralejo
the part about not a perfect circle: the correction for the magnetic field is there in Corsika, so indeed it can be the case. If it is the dominant reason and you make the distribution let's say above a few TeV it should get much more roundish.

a second possibility is the viewcone. I think that the impact scattering is done w.r.t. the shower axis, while you make the final plot w.r.t. te

[2021-12-22 11:24] moralejo commented on #3
No, not the telescope: events are projected on a plane orthogonal to each shower's direction mc_az, mc_alt

[2021-12-22 11:44] moralejo commented on #3
Above 30 TeV, does not seem to become more round:
![image](https://user-images.githubusercontent.com/14164282/147085909-e94a5e6b-fdc1-4498-a5f9-b251920234a5.png)
At these angles, though, and for such large impacts, all other things (like direction) being equal, there is a large difference in distance from the telescope to the shower between the case in which the core is north or south of the teles

[2021-12-22 11:46] moralejo commented on #3
I suggest to start the Corsika production with the scalings proposed in https://github.com/cta-observatory/lst-sim-config/issues/3#issuecomment-993470789, with the grid points (train and test) needed for testing everything on Crab Nebula observations. I will produce a list of pointings with the energy and viewcone limits and open a new issue with that.

[2021-12-22 12:03] jsitarek commented on #3
ah, sorry, I've read wrongly what you wrote above. But then maybe Corsika does it the other way around (scattering impacts around the original direction), would be a bit strange, but possible. Can you test it, it is a very simple check (just plot it w.r.t. telescope axis instead)?

[2021-12-22 12:11] moralejo commented on #3
The manual says the scattering is done in the plane perpendicular to the shower axis. I had anyway tried projecting with the telescope pointing (sorry cannot produce the plot right now) and it did not work either. I might also have some issue with my code, but cannot put more time into this in short term - anyway it is not a key point for deciding on the production settings, so we can defer it.

[2021-12-22 12:37] maxnoe commented on #3
It should be perfectly round when using the tilted ground frame with the pointing direction.

[2021-12-22 13:42] moralejo commented on #3
The manual says shower direction (not the pointing one).
It is a bit more symmetric when using the pointing direction, but not circular either - elongated in the N-S direction:

![image](https://user-images.githubusercontent.com/14164282/147099383-e75588b0-baf8-4351-90bf-82bdca9d4b6d.png)

I cannot exclude a software problem, but as I said, I'll park this issue for now since it is not critical for

[2021-12-22 14:17] jsitarek commented on #3
thank you for checking. Are you sure that the X axis in the plot is N-S? (in Corsika it should be, but maybe sim_telarray does something funny). The remaining effect looks like GF effect (slight shift and asymmetry), but this one should be in W-E direction.
Nevertheless, I agree with you, the effect is minor enough not to cause problems for this production (but if we do not understand it now likel

[2021-12-22 14:27] moralejo commented on #3
x should be the x of the array, which is like the one of Corsika but rotated by the ARRANG angle, which is the magnetic declination. So I think x is geographic north, and y is geographic west.

[2021-12-22 16:41] moralejo opened #11 "Directions & production limits for starting Corsika production"
Here I propose some settings for starting the Corsika production.
See also the following issues:
https://github.com/cta-observatory/lst-sim-config/issues/1 https://github.com/cta-observatory/lst-sim-config/issues/2 https://github.com/cta-observatory/lst-sim-config/issues/3

The idea is to start with a training set produced along the Crab Nebula's path on the sky, so that we can validate the whole

[2021-12-22 17:24] Voutsi commented on #11
Thanks @moralejo
What about the statistics? I see at the previous production, for example for gamma diffuse, Yoshiki produced 1000 jobs of 100000 showers each. If we target for similar statistics per node, taking into account that launching more than 1000 jobs will probably clog the cluster (once I received a number of complaints when launched 5000 jobs), this will take quite some time...

[2021-12-22 17:31] moralejo commented on #11
I think you should be able to launch whatever number of jobs, it does not make sense that you have to manually check when you can submit more etc. I will ask the admins and Cc you. ~~As for stats (training), I would indeed aim at having the same stats per grid point as we had in the previous production e.g. at zd=20, az=180.  And let's see how it goes.~~

Correction: for training I meant having as

[2021-12-22 20:41] maxnoe commented on #11
@moralejo no, that would be great but is unfortunately not how most of these cluster systems work. usually another layer around keeping ~hundreds of queued jobs, starting new jobs when previous jobs finished is the way to go.

[2021-12-27 10:03] YoshikiOhtani commented on #7
Apologies for being late, but I have just pushed the new MAGIC configuration files (LST-PROD2-MAGIC1.cfg, LST-PROD2-MAGIC2.cfg) to the "sim-telarray" branch. The mirror settings and the telescope transmission are updated to the ones provided by Julian for ST.03.16.

[2021-12-30 18:09] jsitarek commented on #7
Thank you Yoshiki!
going through the input card I think it can be further cleaned
I'm not sure what is #ifdef LST_INTERMEDIATE_SHAPE, but probably you can keep only this line:
dish_shape_length   = 1697

[2021-12-30 18:17] jsitarek commented on #8
Hi, sorry for a delayed answer. for sure you need to at least increase the saturation value, the current one in the file is fadc_max_signal = 4095, and baseline is set at 300, so saturation is 3795 above the baseline.
In MAGIC simulations the saturation is 13500 above the baseline, so I think you should put
fadc_max_signal = 13800
I will double check the rest of the readout parameters and let you

[2022-01-03 10:12] jsitarek opened #12 "Missing CTA-PROD4-pmt_MAGIC[12]_test.cfg"
It seems that sim_telarray branch is missing the PMT config files:
CTA-PROD4-pmt_MAGIC1_test.cfg
CTA-PROD4-pmt_MAGIC2_test.cfg

EDIT:
also other files are missing:
LightCollection-MAGIC2-smooth_simtel.dat
camera_CTA-MAGIC_MajorityTrigger-3NN.dat
mirror_CTA-MAGIC1_new_corrected-mirror-positions.dat
mirror_CTA-MAGIC2_new_corrected-mirror-positions.dat
prompt_ap-M1.dat
prompt_ap-M2.dat
qe-hamamatsu_M

[2022-01-03 12:23] jsitarek commented on #8
Hi, I checked the ADC parameters and they actually seam to be quite off the values that we use in the camera simulation (in particular the pulse shape). Please find attached a few slides summarizing those studies
[20220103_magic_readout_settings.pdf](https://github.com/cta-observatory/lst-sim-config/files/7801866/20220103_magic_readout_settings.pdf)

EDIT: I generated some single phe pulses with s

[2022-01-04 11:59] moralejo commented on #8
Thanks @jsitarek! Strange, anyone knows where that very broad pulse may have come from?

[2022-01-04 12:14] jsitarek commented on #8
this file: pulse_CTA-Fx3.dat is used in CTA-PROD4-LST.cfg and CTA-PROD4-MST-NectarCam.cfg
however in the current LST settings it seems to be updated to the Yukiho's measurement from last year

[2022-01-04 12:17] jsitarek commented on #8
the updated readout settings were put in PR #13

[2022-01-04 17:14] jsitarek opened #14 "MAGIC trigger simulations"
I checked the MAGIC trigger parameters and how they translate between MAGIC camera and sim_telarray. There are considerable differences. It would be nice to validate those settings with some test MCs, but it is a bit more complicated that for the FF events with readout parameters and other parameters (like PSF and reflectivity) can affect it as well.
[20220104_magic_trigger.pdf](https://github.com

[2022-01-10 07:23] YoshikiOhtani commented on #12
Hi, I have just pushed the files directly to the sim-telarray branch

[2022-01-24 20:04] SimoneMender commented on #2
The y-axes of the plots are the zenith distance, not the zenith, right? It would make sense to me, that the Azimuth angle becomes irrelevant at Zd=0 deg.

[2022-01-28 10:08] moralejo commented on #4
Hi all, we have to converge on this. Naming is important, but as long as everything that is used is in the end released in this repo, it will not be critical.

Shall we go for LST-PROD2? This seems to be in use already in the lst-sim-config branch. I see no problem in keeping files which will not change at all with their original naming like PROD4, PROD5 or whatever.

As for LST config, I think th

[2022-01-28 11:07] jsitarek commented on #14
I made a new pool request #15  with those settings (slightly revised w.r.t. what I wrote in the slides above)

[2022-01-28 12:11] satoshifukami0115 commented on #4
Hi, I might have not understood but what should be done is to copy `CTA-PROD4-LST.cfg` to `LST-PROD2-LST.cfg` with the updated optics values and the other files originally linking to `CTA-PROD4-LST.cfg`, right? Then I can do it soon. And just to confirm, can I push it directly to sim-telarray branch, or create a new branch to open a new PR to sim-telarray branch?

[2022-01-28 12:14] maxnoe commented on #4
At least for me personally, it was always very hard to find the right config file in the forest of simtel array configurations and quite suprising when something like `PROD5b-LA-PALMA` included `LST-PROD4-<something>`.

If it's not too much to ask, I'd very much like a consistent naming scheme.

*However* since we are working now with a git based scheme based on tags, maybe we should not include *

[2022-01-28 12:20] moralejo commented on #4
Sounds very reasonable to remove any versioning from the file names.

For the record, should we include, in the _comments_ inside the file, the name of the "parent" of the file from the earlier production? (the contents of the file may be identical to the parent's, or contain some slight modifications).  And after the first release, we just need the github tags (and can remove any comments about t

[2022-01-28 12:22] moralejo commented on #4
Hi @satoshifukami0115 , you have write access so you can push to the branch. But let's see if there are other opinions on file names. Perhaps we should call that just LST1.cfg

[2022-01-28 12:49] satoshifukami0115 commented on #4
Hi, I just uploaded tentatively the [LST1.cfg](https://github.com/cta-observatory/lst-sim-config/blob/sim-telarray/LST1.cfg) with the new optics value (with random mirror align 0.0046). I will again confirm the other optics parameters with Jakub.

[2022-01-28 14:47] moralejo commented on #4
Thanks @satoshifukami0115
I don't really know the "connections" among all the configuration files (which ones link to others), or whether all the files in the branch are really needed or not. We need someone who can clean that up, and rename the files (if we agree to remove "production tags" from the file names).  Probably @jsitarek is the right person to do that for MAGIC, and @Voutsi and @mexani

[2022-01-28 17:36] jsitarek opened #16 "Light yield of MAGIC in sim_telarray"
I made checks of individual parameters that could affect the light yield, and I think I found the main culprit. The plexiglass absorption seems to me that is applied twice in sim_telarray (once per wavelength dependence and once per angular dependence together with WCs). Removing it I'm getting the p.e. matching at  ~5% level with the MAGIC value of the mirror fraction.
I found also that the mirro

[2022-01-30 23:36] mexanick commented on #4
The connections are done through master configuration file:
https://github.com/cta-observatory/lst-sim-config/blob/sim-telarray/CTA-PROD5-LaPalma-baseline_4LSTs_MAGIC.cfg
I'm currently at La Palma for shifts, but will try to find some time to clean up the repo in coming days

[2022-01-31 10:18] jsitarek commented on #4
Hi @moralejo, sure I will do the cleaning and renaming of the MAGIC part. But I would like to discuss first what to do with the reflectivity file, since I also saw some small differences there and best to discuss it during the Wednesday MAGIC+LST1 meeting, so is it fine if you do it afterwards?

[2022-02-01 11:47] jsitarek opened #17 "Cherenkov photons wavelength range"
Hi @moralejo @Voutsi

sorry for pointing this out only now, maybe it is too late to tweak with this parameter, but I'm wondering if the wavelength range of the Cherenkov photons was optimized for this production?
The one that is in the Corsika input cards is 240 - 900 nm. The QE of LST (and MAGIC PMTs) only reaches 700 nm or so (for LST it is 0.2% at 700nm) I guess it could be cut easily to 700 or

[2022-02-01 11:59] moralejo commented on #17
Hi @jsitarek, no, actually we did not discuss at all about the wavelength range. Good point indeed.

I don't see a big problem with changing that for the next phases of the production, i.e. the next declination lines for the training sample, and for the whole test sample.

I wonder how complicated it would be to "trim" the already produced files, so that they are lighter and identical in settings.

[2022-02-01 12:03] maxnoe commented on #17
You keep coming up with reasons why we should implement the O part of EventIO into `pyeventio`.... :roll_eyes:

[2022-02-01 12:07] jsitarek commented on #17
modifying existing files might be pretty tricky, because we do not store individual photons, but bunches of them (and I guess the wavelength is simulated later on), so you either would need to make the bunch size smaller which would not really help and would end up with a fractional number of photons, or skip every X-th bunch, which would increase (probably very little) the fluctuation

[2022-02-01 12:10] moralejo commented on #17
I think the bunches are treated like "single photons". That is, all of them have the same wavelength (and produce a p.e. or not based on it). So that is probably not an issue. But probably not worth to waste time on that, won't make an impact on the total production size if we change it before we move to the next pointings.

[2022-02-01 12:22] maxnoe commented on #17
It depends on the settings. If the IACT extension is configured to make the cherenkov angle wavelength dependent (the option is called `CERWLEN` I think), the wavelength is already drawn at that point. That also implies a bunchsize of 1, if I remember correctly.

EDIT: yes

option is only available in connection with the CERENKOV option.

[2022-02-01 12:27] jsitarek commented on #17
@maxnoe , @moralejo
indeed, but I think we are not using CERWLEN option, so the standard bunches have only number of photons, without the wavelength.  And this CERWLEN option is also tricky, you need much smaller bunch sizes

[2022-02-01 13:48] moralejo commented on #17
Still, the files space saving you calculated at low lambda assumes intensity ~ 1/lambda^2,  i.e. disregarding atmospheric absorption.  ~~In reality it is probably negligible. Then, absorption is evaluated just upon photon bunch creation, right? So the savings in computing will likely be small as well. I am wondering now if it is worth changing it now that the production has started.~~

[2022-02-01 14:00] jsitarek commented on #17
the absorption is taken into account later in sim_telarray and not in corsika. You should have less bunches with smaller wavelenth range so I think those estimates that I did should still hold

[2022-02-01 14:02] maxnoe commented on #17
This is also settings dependent. You can give already absortion coeffcients to CORSIKA (or rather the IACT extension), which will then apply them already in CORSIKA:

You can identify these by looking at the wavelength in the files. If they are negative, these are "photo-electrons" with these efficiencies already applied. I think this setting was used for CTA simulations, but I am not sure...

[2022-02-01 14:17] jsitarek commented on #17
@maxnoe I do not think this is how the current LST+MAGIC production is done. The atmosphere absorption options, reflectivities and QE are specified in sim_telarray settings not in Corsika

[2022-02-01 14:19] maxnoe commented on #17
@jsitarek Yes, you are right (at least the current configs in the `corsika` branch don't have `CEFFIC`).

But since you were concerned about the CORSIKA file size, I thought I'd mention the possibility

Edit: and I also checked standard PROD5, they also don't use CEFFIC

[2022-02-04 15:58] jsitarek commented on #16
while the issue is not fully solved, the bulk of the effect is removed when PR #18 was merged, so closing this issue

[2022-02-04 15:58] #16 closed, assigned to nobody

[2022-02-04 15:59] jsitarek commented on #14
#15 was merged. The agreement between the sim_telarray simulations and reflector/camera is still somewhat off, but at least the parameters are close to their meant values

[2022-02-04 15:59] #14 closed, assigned to nobody

[2022-02-04 16:00] #12 closed, assigned to nobody

[2022-02-04 16:01] #8 closed, assigned to nobody

[2022-02-04 16:02] jsitarek commented on #7
as with other parameters, the PSF and reflectivity can be further tunned with muons, but the current settings should not be much off, closing issue

[2022-02-04 16:02] #7 closed, assigned to nobody

[2022-02-14 16:46] moralejo commented on #6
Update: with lstchain 0.9 the calibration of data was revised, and results now in 2% lower charges.

Besides, since the first use of the new MC will be to analyse the existing LST1 data, we prefer to stick to the "80% efficiency" (relative to nominal MC), which would now be, with the 2% correction,  78.4%. Considering the shadowing factor, 0.9690, we should use:

`telescope_transmission 0.7597`

W

[2022-02-16 15:28] moralejo commented on #1
Table of parameters for the proposed MC training grid:

[MC_training_grid.txt](https://github.com/cta-observatory/lst-sim-config/files/8081108/MC_training_grid.txt)

[2022-02-24 10:43] moralejo opened #23 "Use mirror_degraded_reflection to simulate lower telescope efficiency"
Instead of telescope_transmission, which should be used only to account for the shadowing caused by the telescope structure.

[2022-02-24 10:43] moralejo commented on #6
Superseded by #23

[2022-02-24 10:43] #6 closed, assigned to nobody

[2022-02-24 10:51] moralejo commented on #23
@voutsi, @mexanick, @jsitarek: Konrad informed us that there is a parameter `mirror_degraded_reflection`, that is the right one to use to simulate a lower mirror reflectivity (or light losses anywhere else as determined e.g. from comparison of observed and simulated muon events).

So following the discussion in #6, I propose to use the following value **for LST-1** in the first sim_telarray produc

[2022-03-01 10:12] nodak031027 commented on #5
ok the members here agreed on 0.0046. I think it is fine.
Also, the ideal (software) alignment gives us 30.9, while the 0.0046 gives 31.2, right? It sounds realistic as well to me.

[2022-03-03 13:16] maxnoe opened #26 "MAGIC effective focal length"
_Originally posted by @orelgueta in https://github.com/cta-observatory/lst-sim-config/issues/20#issuecomment-1055409017_

The effective focal length is not necessary for the simulations, you can simulate without it. It was added as an input parameter in order to be in the output simulation file for the analysis later (as I am sure you remember @maxnoe).

However, it is quite useful to have, so I s

[2022-03-03 19:28] jsitarek commented on #26
Hi @orelgueta, @maxnoe @moralejo

The focal length of MAGIC should be  indeed 1697 (i.e. the telescopes are designed for 17m, but since they are focused not to infinity but to 10km height there is 3 cm difference, I hope it goes in the correct direction EDIT: I checked in reflector and the files say 1697 so should be fine).

In MARS analysis we use a factor of 1.0713 to correct for the average shi

[2022-03-03 19:39] moralejo commented on #26
Indeed, 1721 / 1697  is just 1.014
MAGIC has f/D = 1  so the aberration must be larger than for LST, which has f/D ~ 1.22.
For LST Konrad had calculated an effective / nominal ratio of 1.047, so for LST it indeed has to be way larger than 1721 cm

[2022-03-04 07:30] orelgueta commented on #26
Indeed something in the calculation went wrong. sim_telarray also assumes internally an effective focal length of 1828.29:

`Internally assumed effective focal length is 1828.29 cm for an approximate f/d of 0.984`
`based on nominal focal length of 1697.000000 cm and diameter 1718.5 to 1862.0 (-> 1725.1) cm.`

I will check what went wrong and report back, but anyway you should simply set the effect

[2022-03-04 08:21] jsitarek commented on #26
there is something strange in this formula, 1./(1./1697.-1./10.e5) - 1697. gives 2.88 and not 2.93, and either way it should use 1700, so 2.89. I will correct those.
Those values will affect slightly the PSF, but hopefully the effect will not be very strong

EDIT: for effective one I will also use a bit larger number i.e. 1700.*1.0713 = 1821.2.

[2022-03-04 18:05] jsitarek commented on #26
I checked the effect on the PSF matching, there is hardly any effect at all, so there is no need to retune the numbers at the moment
![psf_comparison_focal_length](https://user-images.githubusercontent.com/33022433/156817650-818c5f59-b6ce-44b1-9f7a-ebbf50b33a16.png)
since the PR is also merged I'm closing the issue

[2022-03-04 18:05] #26 closed, assigned to moralejo, jsitarek

[2022-03-08 09:42] maxnoe opened #28 "Update config version / dates"
E.g. in `LST1.cfg`, there is `camera_config_version = 2020-06-28` but I am pretty sure there were changes after that, right?

We should update these to current dates.

[2022-03-08 09:42] maxnoe commented on #23
This was done as far as I can see

[2022-03-08 09:42] #23 closed, assigned to nobody

[2022-03-08 09:51] maxnoe opened #29 "Use new sim_telarray metadata system"
In the latest experimental release sim_telarray allows adding metadata to the output files.

It allows both exporting the final configuration options per telescope but also setting custom user attributes.

This seems very handy.

E.g. adding this:

[code]

 to `CTA-PROD5-LaPalma-baseline.cfg` you get this with `read_simtel -s -h <file>` (support in pyeventio is on the way):

[code]

[2022-03-09 13:05] jsitarek commented on #29
Hi @maxnoe

before we start using this version I think we should make sure that we have no problems reading those files. While you did the changes in pyeventio, it can still happen that there is a clash between the ctapipe and pyeventio versions and we might end up with needing to make some changes in lstchain to make it compatible with the ctapipe version that is compatible with the updated pyeve

[2022-03-09 13:08] maxnoe commented on #29
@jsitarek Since this only added new fields to the `SimTelFile`, it is compatible with the current ctapipe versions (otherwise I'd have made it version 2.0, not 1.6.

It's actually the opposite: since the metadata are added by default using the current sim_telarray we already need the latest pyeventio, otherwise we will get the same error that you got when trying to analyze the files.

[2022-03-09 13:11] jsitarek opened #31 "confusing atmospheric extinction profile"
the current code selecting the atmospheric extinction file is really confusing.
https://github.com/cta-observatory/lst-sim-config/blob/7a716348530076bd1972f7cbef9e13af81b4f0a9/array.cfg#L26-L27
says that we want both low extinction and NAVY MARITIME, but then when we check the actual profile
there is one set of conditions that selects LOW_EXTINCTION:
https://github.com/cta-observatory/lst-sim-conf

[2022-03-09 13:48] jsitarek commented on #29
Hi @maxnoe
Let me clarify: I did not mean this change in pyeventio, but if there were some other changes in the meantime that might not be compatible.
About the change in sim_telarray, If I understand correctly for the moment is only in the "Testing" version. and I guess we are using one of the releases for the sim_telarray production. Of course I fully agree with you that if the used sim_telarray

[2022-03-09 13:54] maxnoe commented on #29
I don't understand what you mean by this. What other changes in the meantime?

[2022-03-09 14:40] jsitarek commented on #29
I checked in detail. As far as I can see ctapipe needs eventio 1.5.0 - 2.0, lstchain actually requires >=1.5.1, which is basically the same since I do not see the release 1.5.0. After 1.5.1 there was also 1.5.2 and then 1.6.0 with your latest change. My worry was e.g. in 1.5.2. there could have been something added that is not compatible with the current ctapipe or lstchain, and before it was work

[2022-03-09 15:22] maxnoe commented on #29
The current lstchain tests are already running with eventio 1.6. The CI (and anybody setting up an environment) will always get the newest compatible version.

As said, we use (or at least try) semantic versioning, so any breaking change would have resulted in being 2.0, which would then be excluded by the ctapipe requirements. Of course, I could by accident make a breaking change without realizin

[2022-03-10 23:37] moralejo commented on #31
We should in principle use the same as in the previous LST- dedicated production, i.e. low_extinction.  The fact that we used that one probably means that part of the light reduction (w.r.t. nominal) we see with muon rings may be atmospheric and not telescope- related.  Do you know what is the difference in transmission between the two?

[2022-03-11 09:40] jsitarek commented on #31
I made the test and the difference looks like 4.5% (low extiction, in red,  has more light as the name says).
![atm_trans_comparison](https://user-images.githubusercontent.com/33022433/157841018-7c6fa3cc-2560-4bca-a2d4-7b3ab139c37a.png)

I think I understand what happened.
The original site file had a long if statement
if PARANAL
...
elif LA PALMA
....
else
...

the PARANAL block was removed, and

[2022-03-11 09:48] maxnoe commented on #31
We should not mix the pfp precompiler style of setting things with the templating used by the sim runner.

[2022-03-11 10:15] jsitarek commented on #31
I agree @maxnoe
I made PR #32 to remove the erroneous part of the precompiler conditions, but the LP settings are still there.
I think it would be more clean to have this atmosphere settings all in the .cfg files without setting them by hand, but we can also do opposite, remove it completely from the site.cfg and use only the -C option.

[2022-03-11 13:01] moralejo commented on #31
Hi @jsitarek, thanks for the test. In the standard CTA simulations for CTA-N Navy maritime is used instead. This means that  the tuning of the telescope efficiency that we did (with low_extinction) is not applicable to the CTA simulations.

@YoshikiOhtani, @YusukeSuda, was there any reason for adopting the low_extinction option? We should either tell the team preparing the next CTA simulations to

[2022-03-11 13:08] YoshikiOhtani commented on #31
Hi, when I run the productions I copied the CTA-PROD5-LaPalma-baseline.cfg and only modified the telescope configurations, and so I just didn't touch and thus kept the option as default.

[2022-03-11 13:20] moralejo commented on #31
Thanks @YoshikiOhtani.
You are right, I had checked the CTA-PROD4-LaPalma-Baseline.cfg, and in that one LOW_EXTINCTION is commented out.

In the CTA-PROD5-LaPalma-Baseline.cfg it is again active, so both Prod5 and your LST production used LOW_EXTINCTION. I will find out whether this is also the idea for the next CTA prod.

[2022-03-11 14:00] jsitarek commented on #31
Hi,
the log that I got from @YoshikiOhtani had
Starting ./bin/sim_telarray with the following arguments: ...'atmospheric_transmission=atm_trans_2158_1_3_2_0_0_0.1_0.1.dat'

this is the file for the low extinction. Same thing could have happened with PROD4, I think this value in command line overwrites the value selected in the site file (because this is done only for telescope nr 0)

[2022-03-11 14:09] maxnoe commented on #31
[code]

[2022-03-16 16:09] maxnoe commented on #26
Is it understood why the values calculated by @orelgueta using the ray tracing were off?

[2022-03-16 16:43] orelgueta commented on #26
Yes and no. We realised that in our simulations, as the image from the star moves with the off-axis angle, it does not move along the x axis as we expected. It also shifts along the y axis. When we originally calculated the effective focal length, we only looked at the distance along the x-axis, which resulted in an underestimation of the effective focal length. When we calculate the effective foc

[2022-03-16 17:07] maxnoe commented on #26
A difference that comes to mind is that NectarCam and LSTCam have a camera / pixel rotation value, FlashCam does not. Might this be related?

[2022-03-16 17:56] orelgueta commented on #26
Yeah, that was (is?) my guess, but the pixels are not supposed to be used anywhere in the simulation, so it shouldn't be the cause.

[2022-03-17 18:16] jsitarek commented on #26
just a wild guess, but maybe some mess with the transformation of the azimuth angles between the different coordinate systems?
The difference was actually very large, so I think the spot must have moved more in the Y direction than in X, if you do compute the shifts in both direction and make an atan of them what angle do you get? Maybe it will tell us from where it comes from

[2022-03-18 08:50] orelgueta commented on #26
An issue with the transformation would be strange because then it would happen with all telescopes, not just some of them.

The shift in the y direction wasn't larger than in x (see image below for LST). The other issue is that Konrad's simulations and ours do not yield exactly the same result, so the first thing to do is to figure that out.
I must say this issue is a somewhat of a lower priority

[2022-03-18 08:52] maxnoe commented on #26
Looking at that image: Is the focal length calculated from the center of that circle? If yes: is that really more correct?

[2022-03-18 09:13] orelgueta commented on #26
No it isn't. The circle is the D80. The effective focal length is calculated from centroid (mean of all photons along an axis).

[2022-03-21 11:19] maxnoe commented on #29
See also discussion here: https://github.com/cta-observatory/ctapipe/issues/1853

[2022-03-21 11:56] moralejo commented on #1
List of training grid points (cone, impact and E-ranges are for gammas - see #3 for the corresponding proton values):
[MC_training_grid.txt](https://github.com/cta-observatory/lst-sim-config/files/8315162/MC_training_grid.txt)

[2022-03-21 15:43] orelgueta commented on #26
The issue was indeed the rotation of the camera in LST, NectarCam and MAGIC. It wasn't expected because the pixels are not used in the simulation, but apparently their coordinate system is used (without taking care to rotate it). This issue was never seen and wasn't a worry because usually ray-tracing simulations are done with a dummy single-pixel camera. We used the full camera this time and ran

[2022-03-22 17:12] jsitarek opened #34 "mirror degradation of LST1 is propagated to MAGIC"
when the mirror degradation of LST1 was changed from the camera_transmission to mirror_degradation it affected MAGIC as well - this value was not set for MAGIC telescopes (the whole degradation was in camera_transmission), so the setting got propagated since MAGIC is simulated after LST and the light in both MAGIC telescopes is underestimated by 22%

[2022-03-26 12:11] #9 closed, assigned to YusukeSuda

[2022-03-28 13:17] kbernloehr commented on #26
Just a bit of an explanation of the apparent rotation: The IMAGING_LIST file entries are always in the pixel coordinate reference frame, that is as given in the CAMERA_CONFIG_FILE, where the pixels have their native shapes and checking for proper pixel hits is more straight-forward. Now the camera should not matter for the purpose here - after all we want to compare with a CCD camera looking onto

[2022-03-28 14:28] moralejo opened #36 "Trigger threshold"
The current LST1 camera trigger threshold simulation seems to be too high for quite a few of the LST1 data we have collected.
I think the relevant setting is this one (but please experts step in if needed):

https://github.com/cta-observatory/lst-sim-config/blob/347027c1d28f2f361cf777470701ed9ace04a022/LST1.cfg#L165

We would like to have another version of the simtel files, with significantly sma

[2022-03-30 07:56] moralejo commented on #34
@Voutsi :  I think that once this is fixed in the MAGIC configuration, and whatever other MAGIC settings that need updating are **blessed by @jsitarek**, we should go for a re-creation of all sim_telarray files produced so far, with no changes in LST configuration. No need to keep the current sim_telarray files, but better to replace them only once all the new ones are ready.

[2022-03-30 18:37] jsitarek commented on #34
@moralejo, @Voutsi

while investigating some other settings I found another problem that needs fixing at the sim_telarray level (for MAGIC2). Let me close this issue and open another one

[2022-03-30 18:37] #34 closed, assigned to nobody

[2022-03-30 18:43] jsitarek opened #37 "MAGIC2 single p.e. spectrum"
I checked in the past the SPE of MAGIC1 and it looked fine. While investigating some problem with recovering the proper number of p.e. from calibration run in M2 I realized that I did not check it for M2, and it is actually not matching at all.
![spe_comparison](https://user-images.githubusercontent.com/33022433/160907582-6f37e40e-9e74-44bc-a0f4-18505576c6be.png)

In MagicSoft simulation the same

[2022-03-31 06:28] rlopezcoto commented on #37
Hi Julian

you mean it is different for M1 and M2 in `simtelarray`, right? does anybody know why they were defined differently for M1 and M2 when they were implemented?

[2022-03-31 06:39] jsitarek commented on #37
No @rlopezcoto , I really mean in MagicSoft. SPE is the same, but AP are different in MagicSoft (this might have to do with the age of the camera, afterpulses change with time, or with some differences in PMT productions.
in sim_telarray both SPE and AP are given in one file, and this is why SPE had to be specified also separately (the binning of AP is also somewhat different between M1 and M2, th

[2022-03-31 08:35] Voutsi commented on #36
Hi @moralejo at
/home/georgios.voutsinas/ws/AllSky/TestDataset/Crab/sim_telarray/node_theta_10.0_az_248.117_
you can find 2 directories:
threshold_170 & threshold_370
where you can find the simtel simulation with the corresponding threshold.
It is quite straightforward to scan a number of threshold values, if you think it can be useful.

[2022-03-31 08:44] moralejo commented on #36
Thanks a lot @Voutsi ! I will check these and let you know.

[2022-04-05 08:25] Mitsunari-Takahashi opened #40 "Single p.e. response file of lstchain is outdated"
I found lstchain has SinglePhE_ResponseInPhE_expo2Gaus.dat in the data directory. That file was produced by me but is outdated. The spectrum has a bump caused by an analytical problem at ~3 p.e., and I had updated the analysis and had shared the latest version SinglePhe_spectrum_totalfit_19pixel-average_20200601.csv via <https://forge.in2p3.fr/issues/21202>. You can see the difference in the attac

[2022-04-05 08:31] moralejo commented on #40
Hi @Mitsunari-Takahashi, thanks! You can also commit the file to the sim-telarray branch of this repo. But I think the file name should contain "LST1" for clarity. Perhaps @Voutsi or @mexanick can comment.

[2022-04-06 07:26] moralejo commented on #40
@YusukeSuda, this new file contains only the single-p.e. response. Do you know who made the file which contains also the afterpulse spectrum? We need to create a new one with these new data from @Mitsunari-Takahashi

[2022-04-06 08:56] YusukeSuda commented on #40
Hi @moralejo, I think the afterpulse spectrum was folded by Konrad.

[2022-04-06 08:59] maxnoe commented on #40
Why is this file even included with lstchain? For what is it needed there?

[2022-04-06 09:40] jsitarek commented on #40
Hi Max, it seems to be used in the waveform_nsb_tuning

[2022-04-06 15:52] moralejo commented on #40
unless we need to update also that (?) I think one just has to take the AP spectrum from the current file and put it in the same format together with the new single phe response. ~~@Mitsunari-Takahashi can you please take care ot that?~~

@YusukeSuda: I saw probably some tweaking of the data (rebinning) will be needed. Perhaps it is better that you discuss this with Konrad and Orel? - will also be

[2022-04-12 14:58] jsitarek commented on #37
closing the issue, since the fix is already merged

[2022-04-12 14:58] #37 closed, assigned to nobody

[2022-04-20 14:39] Voutsi opened #42 "Reorganisation of the MC data directory tree"
Currently the data of the training dataset are stored at:
/home/georgios.voutsinas/ws/AllSky/TrainingDataset
there are 2 directories, one for protons and one for gamma diff. For each particle type, we have a directory per declination band (exception is the Crab's band which are stored simply in directories called Corsika & sim_telarray - I will move them this WE to a dir called dec_2276). Each dec

[2022-04-20 21:18] moralejo commented on #42
Thanks, looks good to me. Other opinions?

[2022-04-21 08:52] maxnoe commented on #42
@Voutsi In your screenshot I see that you are using the gzip compression for the simtel files.

We should use zstd, it is slightly faster to write, a bit smaller and *much* faster to read. It is also what is used for standard CTA productions.

[2022-04-21 09:09] Voutsi commented on #42
Thanks @maxnoe , I was not aware of that. As long as the pipeline can digest .zstd files I agree we should change.

[2022-04-21 09:28] rlopezcoto commented on #42
@Voutsi thanks, I agree with the proposed organization, but according to Daniel Mazin's comment from today, you may be having troubles writing all the MC in your home folder, shall we star transferring them elsewhere in the organization tree?

[2022-04-21 09:34] Voutsi commented on #42
@rlopezcoto the MC is stored in fefs:

/fefs/aswg/workspace/georgios.voutsinas/AllSky/

I have a symlink in my home folder pointing to the storage space at fefs and this is what I showed in the slides today (I agree it was confusing...)

Or you mean that I will have problems to store it in /fefs/aswg/workspace/georgios.voutsinas/ also?

[2022-04-21 09:36] rlopezcoto commented on #42
no, in the workspace folder it should be fine, no limits there so far

[2022-04-25 09:50] YoshikiOhtani opened #43 "Telescope z positions are raised 10.5 m higher"
Just in case let me report one thing that I have found (sorry if it is already reported somewhere...).

In the CORSIKA input cards, the telescope positions are defined as follows:

https://github.com/cta-observatory/lst-sim-config/blob/793c54962b21841a19e0a84794f1b79f12d2e795/config_LST1_2MAGIC_diffuse_gammas.cfg#L83-L85

However, when I opened one of LST-PROD2 simtel files I get the positions who

[2022-04-25 15:07] jsitarek commented on #42
since those will be the first really official MCs to be used by many analyzers, maybe it would be good to put the main path specifying that it is LSTProd2
something like
/fefs/aswg/mc/LSTProd2/...
(to mimic what is done for the data)
actually there is a directory /fefs/aswg/data/mc with some old 2020/2021 files, those can be moved away and .../data/mc could be used as well (but I think it is more

[2022-04-25 15:18] moralejo commented on #43
I don't understand, the coordinates here:

https://github.com/cta-observatory/lst-sim-config/blob/793c54962b21841a19e0a84794f1b79f12d2e795/config_LST1_2MAGIC_diffuse_gammas.cfg#L83-L85

are intended to be the centers of rotation of the mirror dishes (all within 1 m of the corresponding dish center). The fourth column is the sphere radius, which should completely contain the telescope.  See https:/

[2022-04-25 15:31] maxnoe commented on #43
I think this is needed for the ray-tracing code going back from position on the ground to the position where the photon might have it the telescope, but not sure. I remember reading about this requirement before but couldn't find it when I now quickly searched in the corsika manual and the iact/simtel docs

[2022-04-25 15:32] jsitarek commented on #43
Hi @moralejo. The code in corsika/bernlohr/iact.c checks if ztel - rtel < 0 and if so raises all the telescopes by the difference. The effect is as @YoshikiOhtani said that the entire sphere around the telescope is above the ground level. I guess this is to avoid a situation when e.g. a photon crosses the horizontal plane containing the telescope center at a distance of a bit more than the radius

[2022-04-25 16:21] moralejo commented on #43
So you mean the photons are tracked only to ground level, and if the track has not intersected the sphere by then they are ignored. I don't understand why that requires to modify explicitly the input telescope coordinates, but ok... In any case this will make no difference whatsoever.  I would be fine with eventually doing the change proposed by @YoshikiOhtani, but not now that we are in the middl

[2022-04-26 15:19] Voutsi commented on #42
Hi @jsitarek sounds good to me, so I create a /fefs/aswg/mc/LSTProd2/, create the same directory structure, and then sym-linking data files, configs & logs.

Sure, I can add a suffix in the sim_telarray directories. I understand that now we produce the nominal ones.

[2022-04-27 14:49] orelgueta commented on #40
I used the norm_spe tool to fold the afterpulse (orange curve in [spe_comp_new_AP2.pdf](https://github.com/cta-observatory/lst-sim-config/files/8573047/spe_comp_new_AP2.pdf)) with the single p.e. spectrum from @Mitsunari-Takahashi. The exact command used is

`./norm_spe -r 0.02,42 -a LST_afterpulses.dat SinglePhe_spectrum_totalfit_19pixel-average_20200601.dat >| spe_with_prompt_from_Mitsunari.dat`

[2022-05-05 08:55] Voutsi commented on #42
Hi @maxnoe zstd is not installed and I don't have the privileges to do it. Shall we request the admins or someone can install it?

[2022-05-06 10:18] maxnoe commented on #42
@Voutsi To have it in the system, yes ask the admins. It's however also available in the lstchain conda environments already.

[2022-05-06 13:30] vuillaut commented on #42
Some of this discussion happened in emails, my bad I missed the discussion in this repo !
So I will duplicate what I wrote previously here.
These are only my thoughts from what worked in the previous prods, I may be missing (technical) points, so take everything as suggestions.

1. Please symlink *all* (not only Test) productions under `/fefs/aswg/data/mc/DL0`
     - the `DL0` is not entirely accu

[2022-06-01 10:00] jsitarek opened #44 "Electron and proton nodes for "test" production"
Hi @Voutsi @moralejo @rlopezcoto
As discussed today in LST1+MAGIC call we will need some electron productions for the MC test set.
I propose that we generate one low zenith node and the mid zenith nodes that are along the Crab path in mid-zenith range where we have joint data:

zen(deg)  az(deg)
10.000   102.199
32.059   248.099
32.059   102.217
43.197   262.712
43.197    87.604
52.374   110.312
5

[2022-06-01 10:38] moralejo commented on #44
Hi Julian,

if we go for generating the electrons in test nodes, as we discussed, will
you need also protons? Georgios has some test protons in the queue, but
only for the two 10-degree-zenith nodes (pre- and post-culmination) close
to the Crab path.

Best regards,

A.

On Wed, 1 Jun 2022 at 12:00, Julian Sitarek ***@***.***>
wrote:

--

Abelardo Moralejo Olaizola
Institut de Física d'Altes Energi

[2022-06-01 11:20] jsitarek commented on #44
Yes, protons in the same nodes will be needed as well (even more then
electrons :) )

Julian

śr., 1 cze 2022, 12:38 użytkownik Abelardo Moralejo <
***@***.***> napisał:

[2022-06-01 20:12] jsitarek commented on #1
Hi @Voutsi @moralejo
I'm not sure if this is known issue, but I realized that Zd=37.661   Az=270.641 node was generated as such for gamma rays, but for protons Az is slightly different: Az=270.661 (at least according to the file names). Looks like a typo in running jobs. The difference in the azimuth is tiny, so the actual effect on the shower is negligible, but I think this can cause a very nasty

[2022-06-01 20:30] vuillaut commented on #1
@jsitarek
Nice catch !
For the record, in lstmcpipe, we filter pointings to make sure they both exist for gammas and protons, so these ones have **not** been included in the trainings I think.

[2022-06-02 06:27] Voutsi commented on #1
Hi, thanks for the feedback.

That's simply a typo in the naming, I will rename them.

here indeed there is a difference between protons and gammas.  I will reproduce the node. Sorry about that.

[2022-06-02 11:59] moralejo commented on #1
Ouch! Thanks @jsitarek. Dangerous indeed, and it is in the Crab line...

@voutsi: Can you check this exhaustively for the other nodes? I recall seeing a plot of RF feature importance (from @SeiyaNozaki I think) where surprisingly az_tel was a very relevant parameter. I think this was for the declination 34.76 deg - but I am not sure. Could this be another instance of the same?

~~It seems to me a

[2022-06-02 12:07] maxnoe commented on #1
Let me propose that for coming productions, we already round the grid points themselves to 1 or 0 decimal digits

[2022-06-02 12:46] moralejo commented on #1
For the record, I cannot see any effect at all in our standard Crab sample (which reaches ~34.6 deg in zenith). So I don't see much need for a quick & dirty fix I was proposing above.

@voutsi How much would it take to re-generate the protons?

[2022-06-02 12:47] Voutsi commented on #1
Hi

I checked declination band 34.76, consistency between protons/gammas and corsika/simtel and it looks ok. (there was a problem in node zd=7, both azimuths, where the simtel files where saved in dir output instead of output_v1.4, but that has been corrected and I think shouldn't create the issue you mentioned)

I will now check, just to be sure, whether the angles in  the name of the files corre

[2022-06-02 12:49] Voutsi commented on #1
I submitted the jobs this morning. Since the cluster is used quite heavily these days,  I would expect to be ready by tomorrow, evening probably)

[2022-06-02 13:07] moralejo commented on #1
Ok, thanks, that is fast indeed - I had in mind the production times for a whole line, but this is just a node.

[2022-06-02 13:18] jsitarek commented on #1
For Azimuth 0 decimal points are probably fine, but for zenith it would be good to keep 1 digit (due to high zenith values)

[2022-06-08 11:09] jsitarek commented on #44
I realized that the shower reusage is the same (10 times) for gammas and protons in the train sample. Normally one would expect a larger number for protons as they have smaller trigger efficiency.
Are the planned shower reusage values the same for the test production?

[2022-06-08 12:47] moralejo commented on #44
We have not discussed it, so I was assuming we would use the same. But feel free to argue otherwise :)

[2022-06-08 12:55] Voutsi commented on #44
In training sample, we used the same shower reusage, but we simulated more proton showers. Shall we do the same here?

[2022-06-08 13:13] moralejo commented on #44
Let's see what @jsitarek thinks. With 20 reuses we would save half of the computing time. Because indeed we will need more statistics to achieve enough post-trigger (and post-analysis) events.

[2022-06-08 13:17] jsitarek commented on #44
I also for running with reuse of 20 for protons.

[2022-06-23 14:51] vuillaut opened #46 "Zenodo archives?"
It would be nice to also archive the releases on zenodo.
It can be triggered easily with the github integration:

https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing-content

[2022-06-23 15:07] rlopezcoto commented on #46
+1

[2022-06-28 09:04] jsitarek commented on #44
Hi @Voutsi

any update on this test production?

Cheers,
Julian

[2022-06-28 09:19] Voutsi commented on #44
Hi Julian. No. I am currently producing the > 70deg nodes for the test sample. It takes a lot of time, the curved option for Corsika is slower + we have many energetic showers. Additionally there were some problems the last 2 weekends with the shutdown of the cluster. So it takes time.

However, if the electron & proton nodes are urgent, I will stop the test dataset production once the current bun

[2022-06-28 09:34] jsitarek commented on #44
Hi,

@moralejo and @rlopezcoto should comment on the priorities.
I would personally say that it would be good to produce one of the zd=43 electron nodes as soon as possible - this is just one node, electrons we do not have at all in this prod2, and they should be relatively fast to produce (comparing to protons).

[2022-06-28 09:38] Voutsi commented on #44
Ok, we can have the node ready this week

[2022-06-28 11:02] jsitarek commented on #44
great, thanks!

[2022-06-28 15:17] moralejo commented on #44
Yes, fine with me to slip in the 43 deg electrons.
A.

On Tue, 28 Jun 2022 at 11:38, Voutsi ***@***.***> wrote:

--

Abelardo Moralejo Olaizola
Institut de Física d'Altes Energies
Tel : +34 931641662
Fax: +34 935811938
Avís - Aviso - Legal Notice - (LOPD) - http://legal.ifae.es

--
Avís -
Aviso - Legal Notice - (LOPD) - http://legal.ifae.es
<http://legal.ifae.es/>

[2022-06-30 15:56] maxnoe opened #47 "Revert change of MAGIC focal length to 17.0 m"
Discussing with @moralejo and checking the MAGIC simulation config files, we think the value of 16.97 m was actually correct before.

We think the correct values (as used by MAGIC reflector) are:

[code]

focal_length + focus_offset is distance from dish to camera, which are the 17 m.

[2022-06-30 16:08] moralejo commented on #47
At least that seems to be the way the MAGIC simulations are configured. I anyway think it would have a quite negligible effect, as long as the focusing is at ~10 km. The difference in the plate scale would be 0.18%, way smaller than e.g. the coma aberration effect (which we so often forget ;)

[2022-06-30 18:50] maxnoe commented on #29
With Prod6, the metadata system will be used and future versions of ctapipe will very likely start relying on some of the metadata information being available. This includes for example using the telescope metaparams `OPTICS_CONFIG_NAME` and `CAMERA_CONFIG_NAME` to fill the subarray information and also using the global metadata `SITE_CONFIG_NAME` `ALTITUDE` `*LONGITUDE`, `*LATITUDE` for array loc

[2022-07-01 11:17] Voutsi commented on #44
Hi @jsitarek , you can find the electron files for 43deg at
/home/georgios.voutsinas/ws/AllSky/TestDataset/Electrons/sim_telarray
There are ~500 files of 20k showers each. I simulate with NSCAT=10 so in total there are 10^8 showers.
For the production limits: I used the energy limits from the gammas.
Scanned few values for impact area and viewcones, I think max impact = 1.2km and viewcone=8.5 are

[2022-07-05 07:38] jsitarek commented on #47
Thanks for reporting this @maxnoe. Let me add some more details for bookkeeping in case we wonder about this again in the future.

Indeed in the MagicSoft reflector mirror files the focal distance (paraboloid_focal) is 1697 cm and distance to the camera (focal_distance) is 1700.
As far as I can see in sim_telarray it is used such that focal_length is the nominal focal length of the mirrors, and fo

[2022-07-05 15:14] jsitarek commented on #44
Hi @Voutsi
Thanks a lot for those files, they look fine to me. I will show some results with them tomorrow in LST1+MAGIC meeting
It would be great to have the remaining nodes from my original e-mail (in particular the ones at zd32 and 10). SInce they are so fast to generate, maybe you could run them as well.

@moralejo, what shall we do with the test sample of protons? In principle the "train" sam

[2022-07-13 07:32] moralejo commented on #44
Hi @jsitarek , I think it is a good idea to have at some (low) zenith angle a background test sample, with protons and helium.  For trigger and near-trigger studies it should be easy, because no huge statistics are needed - and one can limit the highest energies as you pointed out. For the same statistics-related reason, one can be a bit generous with the production ranges (**can you make a propos

[2022-07-13 08:28] jsitarek commented on #44
Since, at least for the moment, we have only mid zenith joint Crab it would be good to have also those protons/helium at medium zenith, so I would recommend to produce them with my original Zd,Az requests (maybe skipping the one at 50deg zenith:
zen(deg) az(deg)
10.000 102.199
32.059 248.099
32.059 102.217
43.197 262.712
43.197 87.604

[2022-07-13 08:36] moralejo commented on #44
Ok, good, what about the ranges? Same as in the training? Or more generous (and high-E trimmed) for the trigger- oriented sample?

[2022-07-14 12:41] Voutsi commented on #44
Concerning the production of these files. Currently I produce the high zenith (zd=82) nodes for the test dataset. It is very slow, each node takes 3-4 days to be completed. For all the nodes remaining in (75 & 82deg) I estimate 10d - 2 weeks to be done. So shall we interrupt this production and instead start simulating the protons, He & electrons which are going to be faster?

[2022-07-14 12:58] moralejo commented on #44
82 is really low... and indeed not urgent. It is fine for me to give priority to the p-He-e at the selected nodes.

[2022-07-18 13:17] jsitarek commented on #44
Hi @moralejo sorry for late feedback, but I wanted to make some tests with the existing "train" samples.
Please find attached pdf file with the summary of those studies:
[20220718_prod2_completeness.pdf](https://github.com/cta-observatory/lst-sim-config/files/9132144/20220718_prod2_completeness.pdf)

I would say that:

- Proposed scalings of protons:
  - Energy range: (10GeV-100TeV) * cos^(-1.5)ZD

[2022-07-18 15:24] #5 closed, assigned to satoshifukami0115

[2022-07-18 16:22] moralejo opened #49 "Test grid points for evaluating IRF interpolation"
In order to test the IRF interpolation algorithms, we need some additional pointings which we can use as "targets" for the interpolation of the standard test MC grid. By comparing the interpolated IRFs, and those computed directly with these additional test pointings, we can assess the precision of the  interpolation.

I suggest the two orange points below (red is the Crab path):
![image](https://

[2022-07-18 19:19] vuillaut commented on #49
Are new pointings nodes really necessary?
We have  for example the following: `node_theta_14.984_az_175.158_` and `node_theta_43.197_az_175.158_` that should interpolate exactly to `node_theta_32.059_az_175.158_`

[2022-07-19 05:48] chaimain commented on #49
Yes, it will help us to perform the tests to check the efficiency of the interpolation with finer grid widths to check the dependence of grid width to interpolations (especially quantile interpolation for the pdf based IRFs) and therefore to either justify the current grid widths or propose finer ones.

[2022-07-19 08:00] jsitarek commented on #49
the proposal of those extra test pointings looks good to me.
Do you need the full statistics as for the other nodes, or do you think the number of events can be reduced for faster generation?

[2022-07-19 08:06] jsitarek commented on #47
Hi @moralejo
why did you close the issue? The linked PR is not yet merged (I wanted to see if @maxnoe has any comments since he reported the issue)

[2022-07-19 08:18] RuneDominik commented on #49
Having dedicated test targets would be quite helpful. To add to the discussion, maybe we'd also want to have a high-zen target for some extensive tests. Additionally, since extrapolation will be needed, an extrapolation target might be desirable (maybe at the vertex of the crab path?).

[2022-07-19 08:38] vuillaut commented on #49
I  suppose you will want to produce the IRFs at these nodes and compare the calculated IRFs with the interpolated ones, right?
If so, the same statistics is required for fair comparison imo.

[2022-07-19 08:51] jsitarek commented on #49
I think you can also test the extrapolation with those nodes - just use input nodes that cause the new node to be slightly outside the interpolation triangle (seems easy looking at the plot of Abelardo)

[2022-07-19 08:53] jsitarek commented on #49
This was more or less my line of thought - now that we used the original grid for IRFs we have better feeling if the original statistics are fine, or if they should be increased/reduced.

[2022-07-19 09:07] moralejo commented on #49
I did not mention it explicitly, but these two nodes will also allow us to use them for the "LST1 performance project", without interpolation, to reduce the systematics from the "IRF vs. data pointing mismatches".

[2022-07-19 09:10] moralejo commented on #49
I think extrapolation can be well tested with those two points, and compared with interpolation as well as with "true" IRF.
The large zenith is indeed important as well, but I'd like to see the full study of the interpolation precision at low zenith, and with everything we learn from it move on to the higher zenith study.

[2022-07-19 12:59] moralejo commented on #44
Thanks for the study, @jsitarek .
The low-E behaviour of the energy distribution as zenith increases would even suggest to keep the min E fixed... I think these must be mostly muons.
For the rest, your suggestions seem reasonable to me, you can as well check the first produced files to make sure things look ok.

[2022-07-19 13:50] moralejo commented on #47
Sorry, I thought there was nothing else to discuss here...

[2022-07-19 14:00] jsitarek commented on #44
even muons should have some scaling so maybe let's apply cos^-1 Zd in energy scaling, otherwise I'm a bit afraid taht we will have too many empty events.

[2022-07-19 14:09] maxnoe commented on #47
Now it's merged...

[2022-07-19 14:09] #47 closed, assigned to moralejo, jsitarek

[2022-07-22 07:38] moralejo commented on #49
@Voutsi, can these two nodes be placed in the queue of productions?

[2022-07-22 07:51] Voutsi commented on #49
@moralejo sure, I will produce them just after finishing the #44

[2022-07-22 07:52] moralejo commented on #49
Thanks!!

[2022-09-02 11:23] Voutsi commented on #49
Hello, please find the simtel files at:

/home/georgios.voutsinas/ws/AllSky/TestDataset/sim_telarray/node_theta_23.630_az_259.265_/output_v1.4

/home/georgios.voutsinas/ws/AllSky/TestDataset/sim_telarray/node_theta_23.630_az_100.758_/output_v1.4

[2022-09-02 11:36] moralejo commented on #49
Awesome, thanks @Voutsi!
@vuillaut @garciagenrique, can you please include these in the test sample, and produce the standard DL2 files using the same "Crab RFs" that we used for the analysis of the standard Crab sample. We need those to have more accurate IRFs for the Crab analysis.

[2022-09-12 12:22] Voutsi commented on #44
Hi, the production of these nodes is completed. Please find the data at

/home/georgios.voutsinas/ws/AllSky/TestDataset

at the corresponding directories, Electrons, Protons, Helium

[2022-09-12 12:40] FrancaCassol opened #50 "Production of declination line 6166 with density 1/cos(zd) dependency"
This is to ask a production for the line 6166 with a 1/cos(zd) spacinng and cos(zd)=0.04   (see attached figure and text file for the zenith, azimuth values) both for the training and the test MC.

Given that the priority are LZA data, it would be better that the production starts with the points at zenith> 60 deg, both for training and test data

![G106_training_test_steps_of_cos_zd_eq_0 04](http

[2022-10-02 20:50] jsitarek commented on #44
Hi @Voutsi @moralejo

I had a look at the generated protons and helium and unfortunatelly only now I realized that the scaling relations that I wrote there had a stupid typo both in my final slide of the presentation and in the post above where I copy pasted from the presentation.
The scaling of the impact should not be 1500m * cos ZD, but 1500m / cos ZD. The files are indeed generated with the er

[2022-10-03 08:14] Voutsi commented on #44
Hi @jsitarek

I also just copy the formula without really noticing the typo... Yes I agree, we need to reproduce them. I will do it asap.

[2022-10-03 08:25] moralejo commented on #44
Sorry, we all overlooked it...

On Mon, 3 Oct 2022 at 10:14, Voutsi ***@***.***> wrote:

--

Abelardo Moralejo Olaizola
Institut de Física d'Altes Energies
Tel : +34 931641662
Fax: +34 935811938
Avís - Aviso - Legal Notice - (LOPD) - http://legal.ifae.es

--
Avís -
Aviso - Legal Notice - (LOPD) - http://legal.ifae.es
<http://legal.ifae.es/>

[2022-10-03 11:57] Voutsi commented on #44
Hi @jsitarek

for the protons produced at zd = 10deg: Those I produced earlier in June, using energy scaling ~cos^{-2.5}, IP scaling ~cos^{-0.5}. Those are different than the proposed scaling, however for 10deg the difference is small:
IP: 1511m instead of 1523m
Emax: 103.9 TeV instead of 102.3 TeV
Also there were produced with a viewcone of 9deg instead of 8deg, which I had estimate will give a c

[2022-10-08 13:17] Voutsi commented on #44
Hello,

the P and He nodes have been reproduced. You can find the data at the same place, e.g. for He:

/home/georgios.voutsinas/ws/AllSky/TestDataset/Helium

[2022-10-11 07:30] jsitarek commented on #44
Hi,

Those scalings are mostly for high zenith data, so the old scaling for
10deg zenith is fine.

Julian

pon., 3 paź 2022, 12:58 użytkownik Voutsi ***@***.***>
napisał:

[2022-10-11 09:13] moralejo commented on #44
Hi,

I also think that He at least will be needed for sensitivity estimates,
because with single telescope the suppression is not as good (while in full
cta simulations we assume no significant He will be left after cuts). For
using the training p's for test you have to reduce the training sample,
right? (Or are those p's leftovers from the original, too-high-stats
production?). In the former case

[2022-10-11 09:29] Voutsi commented on #44
Hi @moralejo

I didn't use the protons from training dataset for the test sample.

Those protons (and He) were created in a dedicate production, featuring production ranges in terms of viewcone and IP in order to allow for trigger/bkg studies.

The samples were indeed created on test nodes.

Please let me know if that replies your comment

[2022-10-20 15:14] Voutsi commented on #50
This production is completed. The test nodes can be found in the test dataset

/home/georgios.voutsinas/ws/AllSky/TestDataset/sim_telarray

while the low zenith training nodes have been added to dec 61.66 nodes, e.g.

/home/georgios.voutsinas/ws/AllSky/TrainingDataset/GammaDiffuse/dec_6166/sim_telarray

[2022-11-03 11:52] jsitarek commented on #44
Hi @Voutsi
can you tell me what scalings were used in the end for electrons for impact and viewcone ? I cannot figure them out from the files itself
Zd=10, impactmax = 720m, viewcone =7.5deg
Zd=32, impactmax = 850m, viewcone = 7.5 deg
Zd=43, impactmax = 1200m, viewcone = 8.5 deg
Zd=52, impactmax = 1200m, viewcone = 7.5 deg

[2022-11-03 12:10] Voutsi commented on #44
Hi @jsitarek ,

I figured out the scalings by few test jobs, by looking at the distance and off axis angles of the showers that triggered. The node zd=43 which was the first produced has rather conservative estimation, maybe wasting a bit of resources, that's why I reduced the viewcone to 7.5 deg for the other nodes. Similarly for impactmax. Please see the plots at the comment above
https://github

[2022-11-17 10:50] Voutsi commented on #49
Hi @jsitarek , the production of the 4 additional nodes at 37 & 47 Zd angle has finished, you can still find them at the same old place

[2022-11-17 11:42] jsitarek commented on #49
Thanks a lot @Voutsi ! I started processing the files